<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Real Time Data Analytics</title>
  </head>
  <body>
  <div class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Agenda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href=".">Introduction<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/model">The Basic Model<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/iot">IoT/EC7<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/demo">Demo<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container-fixed bg-gradient-dark">
      <div id="carouselExampleIndicators" class="carousel slide bg-dark" data-interval="false" data-ride="carousel"> 
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
          </ol>
     <div class="carousel-inner d-flex justify-content-between">
        <div class="carousel-item active bg-dark">
            <img class="d-block w-100" src="https://static.vecteezy.com/system/resources/previews/000/543/610/non_2x/vector-futuristic-blue-hexagon-honeycomb-abstract-technology-background-artificial-intelligence-digital-transformation-and-big-data-concept-business-quantum-internet-network-communication-concept.jpg" alt="First Slide"/>
            <div class="carousel-caption col-4">
                <h1 class="display-2">EC7 Overview</h1>
                <p> The goal of the EC7 project is to design data infrastructure to support the minigrid such that the different components and their communication protocols are able to be centralized into a service that can provide actionable insight and monitor preformance. The challenge is that it must support real-time analytics at lower cost and lower bandwidth than traditional solutions.</p>
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <img class="d-block w-100" src="https://s3.amazonaws.com/cbi-research-portal-uploads/2019/01/08144511/Edge-Computing-Graphic-1024x576.png" alt="First Slide"/>
            <div class="carousel-caption col-4">
                <h1 class="display-2"></h1>                
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <img class="d-block w-100" src="https://static.vecteezy.com/system/resources/previews/000/543/610/non_2x/vector-futuristic-blue-hexagon-honeycomb-abstract-technology-background-artificial-intelligence-digital-transformation-and-big-data-concept-business-quantum-internet-network-communication-concept.jpg" alt="First Slide"/>
            <div class="carousel-caption col-4">
                <h1 class="display-2">Challenges</h1> 
                <p>PRIVACY/SECURITY- By existing on a decentralized infrastructure and having data on many nodes and devices, it is susceptible to attack and leaks.</p>
                <p>SCALABILITY- The heterogeneity of the devices used, each with different preformance and energy constraints, can slow down and weaken the overall infarstrucutre compared to centralized cloud data centers</p>
                <p>RELIABILITY- In the event that a node fails, the entire system should still maintain network topology and users should still be able to access services without interruptions</p>       
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <img class="d-block w-100" src="https://static.vecteezy.com/system/resources/previews/000/544/526/non_2x/futuristic-blue-gear-digital-transformation-abstract-technology-background-artificial-intelligence-and-big-data-concept-business-growth-computer-and-investment-industry-4-0-vector-illustration.jpg" alt="First Slide"/>
            <div class="carousel-caption col-4">
                <h1 class="display-2">Serverless Computing</h1>
                <p>The paradaigm where functions are deployed to the cloud with zero administration to the software developer. Currently offered by traditional big data providers in addition to open-source solutions, by providing the code itself, the developer does not need to run their own servers or infrastructure.</p>
                <p>Many solutions must provide support in the form of FDKs (kits that can functionify existing apps), CI/CD, logging/metrics and language/integration support, however the extremely low cost provides a solution to many of the challenges faced by EC7.</p>
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <img class="d-block w-100" src="https://miro.medium.com/max/1321/0*zWW8sYP7nVdnbHW7" alt="First Slide"/>
            <div class="carousel-caption col-4">
                <h1 class="display-2"></h1>
                
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <img class="d-block w-100" src="https://static.vecteezy.com/system/resources/previews/000/543/898/non_2x/blockchain-technology-fintech-cryptocurrency-block-chain-server-abstract-background-linked-block-contain-cryptography-hash-and-transaction-data-new-futuristic-system-technology-vector-illustration.jpg" alt="First Slide"/>
            <div class="carousel-caption col-4">
                <h1 class="display-2">Non-Instrusive Load Monitoring</h1>
                <p>Techniques that attempt to analyze changes in voltage and current and match those with appliances wiether through traditional clustering or neural networks.</p>
                <p>The idea is that by preforming the computations on low-cost sensors near the equipment, the demand response system would be both real-time and low-cost.</p>
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <img class="d-block w-100" src="https://www.researchgate.net/profile/Matteo_Nardello/publication/319028421/figure/fig6/AS:847240440606730@1579009270636/Aggregated-power-trace-labeled-with-the-detected-events-recognized-by-the-runtime-NILM.jpg" alt="First Slide"/>
            <div class="carousel-caption col-4">
                <h1 class="display-2"></h1>
                
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <img class="d-block w-100" src="https://static.vecteezy.com/system/resources/previews/000/544/311/non_2x/vector-futuristic-blue-cloud-with-pixel-digital-transformation-abstract-new-technology-background-artificial-intelligence-and-big-data-concept-business-industry-4-0-and-5g-wifi-data-storage-communication.jpg" alt="First Slide"/>
            <div class="carousel-caption col-4">
                <h1 class="display-2">Traditional Big Data Solutions</h1>
                <p>Note that these solutions, while promising, are still in their infancy and are still rather unreliable. Traditional open-source data solutions such as Kafka and Spark have a history of success and ease-of-use.</p>
                <p>As honorable mentions, technologies such as ElasticSearch(for efficient text-based querying), Hadoop (for batch processing of aggregate data), MongoDB(as a data store), and TensorFlow(for predictive anlytics) also show promise when coupled properly.</p>
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <img class="d-block w-100" src="https://www.futuralis.cloud/wp-content/uploads/2019/11/aws-blog-23.png" alt="First Slide"/>
            <div class="carousel-caption col-4">
                <h1 class="display-2"></h1>
                
            </div>
        </div>" alt="First Slide"/>
            <div class="carousel-caption col-4">
                <h1 class="display-2"></h1>
                
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    
    
 </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>    